$theme-color: #a2ff00;
$link-color: #0066ff;
$white-fixed: #fff;
$black-fixed: #000;

$black-09-variant: #090909;
$black-25-variant: #252525;
$black-44-variant: #444444;
$black-66-variant: #666666;
$grey-99-variant: #999999;
$grey-cc-variant: #cccccc;
$white-variant: #fff;